In [1]:
import numpy as np
import pandas as pd

## Tabla Clientes por cada Planta

Esta tabla enumera todos los casos especiales, en los que el almacén solo puede brindar soporte a un cliente específico, mientras que cualquier otro almacén no registrado en la tabla puede abastecer a cualquier cliente.

In [2]:
customers = pd.read_excel("data.xlsx", sheet_name = "VmiCustomers")
customers.columns = ["Planta", "Cliente"]

customers["Planta"] = customers["Planta"].replace({"[^\d.]": ""}, regex = True).astype(int)
customers = customers.set_index("Planta")

In [3]:
customers

                        Cliente
Planta
2             V5555555555555_16
2           V555555555555555_29
2                  V555555555_3
2             V55555555555555_8
2                   V55555555_9
2                     V55555_10
2                   V55555555_5
6           V555555555555555_18
6                     V55555_10
10          V555555555555555_29
10                   V555555_34
10      V5555555555555555555_54
10                    V55555_10
11      V5555555555555555555_54